<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Recuperação de senha</title>
</head>

<body>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>
          <img style="height: 50px;" src="cid:img-excel-logo.jpg" alt="Excel Logo">
        </th>
      </tr>

      <tr>
        <th>
          <h1> Alteração de senha </h1>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="text-align: center;"> <span><strong>Olá</strong>, {{ name }}</span> </td>
      </tr>

      <tr>
        <td style="text-align: center;">
          <span> A senha para sua conta foi alterada </span>
        </td>
      </tr>

      <tr>
        <td style="text-align: center;">
          <div> <span> Caso não tenha solicitado, redefina sua senha! </span> </div>
        </td>
      </tr>

      <tr>
        <td style="text-align: center;">
          <p> Obrigado! </p>
        </td>
      </tr>

      <tr>
        <td style="text-align: center;">
          <h4 style="padding: 0; margin: 0;"> Equipe | <strong>Excel</strong></h4>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
